// sass --watch input.scss style.css

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #222;
    color: white;
}

.card {
    width: 120px;
}

.loading-container {
    h1 {
        font-size: 5em;
        text-align: center;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-animation: fade 5s infinite;
    animation: fade 5s infinite;
    -moz-animation: fade 5s infinite;
    -o-animation: fade 5s infinite;
}

.progress {
    margin-top: 40vh;
    text-align: center;
    bottom: 0;
    font-size: 3em;
}

.container {
    visibility: collapse;
}

@-webkit-keyframes fade {
    0% {opacity: 0.2} 
    50% {opacity: 1}
    100% {opacity:0.2}
}

@-moz-keyframes fade {
    0% {opacity: 0.2} 
    50% {opacity: 1}
    100% {opacity:0}  
}

@keyframes fade {
    0% {opacity: 0.2} 
    50% {opacity: 1}
    100%{opacity: 0.2}
}
@-o-keyframes fade {
    0% {opacity: 0.2} 
    50% {opacity: 1}
    100%{opacity: 0.2}
}

.welcome {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    h2 {
        font-size: 36px;
        text-align: center;
    }
    h4 {
        margin-top: 15vh;
        font-size: 28px;
        text-align: center;
    }
    input[type=text], input[type=number] {
        margin-top: 2vh;
        font-size: 24px;
        text-align: center;
        border-radius: 5px;
        padding: 5px;
    }
    button {
        background-color: white;
        padding: 10px;
        margin: 20px;
        font-size: 24px;
        border-radius: 3px;
        text-decoration: none;
        color: black;
    }
    button:hover {
        cursor: pointer;
        background-color: grey
    }
}

.choose-mode {
    display: flex;
    justify-content: space-around;
    align-items: center;

    p {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1;
        text-align: center;
        font-size: 18px;
    }

    div {
        margin-left: 20vh;
        margin-right: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.game {
    display: none;

    button {
        display: none;
    }
    #start-game-button {
        display: none;
    }
    #start-game-button:hover {
        background-color: grey;
    }

    #game-waiting-for-host {
        display: none;
    }

    .game-view {
        display: none;
    }
    .card {
        width: 6vw;
        margin-right: -3vw;
    }

    .active-set, .player-hand {
        min-width: 50vw;
        min-height: 3vw;
        position: absolute; 
        left: 0; 
        right: 0; 
        top: 0;
        bottom: 0;
        margin-left: auto; 
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .active-set {
        margin-top: auto;
        margin-bottom: 30vh;
    }

    .player-hand {
        margin-top: 60vh;
        margin-bottom: auto;
    }
}